.casilla {
    display: flex;
    width: 4rem;
    height: 4rem;
    border: 3px solid black;
    margin: 1px;
}

.casilla:hover{
    opacity: 0.7;
}

.apagada {
    background-color: grey;
}

.prendida {
    background-color: yellow;
}

.flicker {
	animation: color_change 1s infinite alternate;
}

@keyframes color_change {
	from { background-color: lawngreen; }
	to { background-color: lightgreen; }
}

