body {
    overflow: hidden;
    background-color: #333;
}

.cantidad-casillas {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.hidden {
    display: none;
}

.titulo {    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 1.5px 1.5px black, -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black;
}

.container {
	position: absolute;
	justify-content: center;
    align-items: center;
    display: flex;
	width: 100%;
    margin-top: 5rem;
    opacity: 0.95;
}

.fila {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.columna {
    display: flex;
    flex-direction: column;
}