body {
    background-color: #333;
}

.cantidad-casillas {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.hidden {
    display: none;
}

.container {
	position: relative;
    align-items: center;
    display: inline-flex;
	width: 100%;
    margin: 15px;
    opacity: 0.95;
}

.fila {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.columna {
    display: flex;
    flex-direction: column;
}