<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trabajo Practico 1 - Programacion 3</title>
    
    <link rel="stylesheet" href="public/styles/casilla.css" />
    <link rel="stylesheet" href="public/styles/index.css" />
    <script src="public/bin/controllers/app.js" type="module"></script>
</head>
<body>
    <h1 class="titulo">FUERA LUCES!</h1>
    <div id="app" class="container">
        <input class="cantidad-casillas" type="number" id="cantidadFilas" min="1" value="1">
        <button>JUGAR</button>
    </div>
</body>
</html>