<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trabajo Practico 1 - Programacion 3</title>
    
    <link rel="stylesheet" href="public/styles/casilla.css" />
    <link rel="stylesheet" href="public/styles/index.css" />
    <script src="public/bin/shared/startup.js" type="module"></script>
</head>
<body>
    <div id="app" class="container">
        <div>Movimientos:<span id="movements"></span> Record:<span id="record"></span></div>
    </div>
</body>
</html>